<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Global.wxi?>
  <Fragment>
    <ComponentGroup Id='ComponentGroupiOS'>

      <Component Id="ComponentiOSAssemblies" 
                 Directory="MvvmCrossAssemblies" 
                 DiskId="1" 
                 Guid="825c8b3c-e1ee-4eae-85b2-300000000003">

        <!-- iOS Assemblies -->
        
        <File Name="Cirrious.MvvmCross.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOS1" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>

        <File Name="Cirrious.MvvmCross.Binding.Touch.dll"
            Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Binding.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="ios2" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>

        <File Name="Cirrious.CrossCore.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.CrossCore.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="ios3" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>

        <!-- Plugins -->
        
        <File Name="Cirrious.MvvmCross.Plugins.Accelerometer.Touch.dll"
            Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Accelerometer.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins1" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        <!--<File Name="Cirrious.MvvmCross.Plugins.Bookmarks.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Bookmarks.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins2" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>-->
        
        <File Name="Cirrious.MvvmCross.Plugins.Color.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Color.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins3" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File Name="Cirrious.MvvmCross.Plugins.DownloadCache.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.DownloadCache.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins4" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File Name="Cirrious.MvvmCross.Plugins.Email.Touch.dll"
            Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Email.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins5" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File Name="Cirrious.MvvmCross.Plugins.File.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.File.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins6" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File  Name="Cirrious.MvvmCross.Plugins.Location.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Location.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins6a" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <!--<File Name="Cirrious.MvvmCross.Plugins.Json.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Json.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins7" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>-->
        
        <File Name="Cirrious.MvvmCross.Plugins.Network.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Network.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins8" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File Name="Cirrious.MvvmCross.Plugins.PhoneCall.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.PhoneCall.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins9" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File Name="Cirrious.MvvmCross.Plugins.PictureChooser.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.PictureChooser.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins10" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File Name="Cirrious.MvvmCross.Plugins.ReflectionEx.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.ReflectionEx.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins11" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File Name="Cirrious.MvvmCross.Plugins.ResourceLoader.Touch.dll"
            Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.ResourceLoader.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins12" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File Name="Cirrious.MvvmCross.Plugins.Share.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Share.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins13" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <!--<File Name="Cirrious.MvvmCross.Plugins.SoundEffects.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.SoundEffects.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins14" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>-->
        
        <!--<File Name="Cirrious.MvvmCross.Plugins.Sqlite.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Sqlite.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins15" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>-->
       
        <File Name="Cirrious.MvvmCross.Plugins.ThreadUtils.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.ThreadUtils.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins16" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File Name="Cirrious.MvvmCross.Plugins.Visibility.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Visibility.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins17" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File Name="Cirrious.MvvmCross.Plugins.WebBrowser.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.WebBrowser.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins18" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>

        <!-- Community Plugins -->

        <File Name="Cirrious.MvvmCross.Community.Plugins.Sqlite.Touch.dll"
            Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Community.Plugins.Sqlite.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSC1" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
        <File Name="Chance.MvvmCross.Plugins.UserInteraction.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Chance.MvvmCross.Plugins.UserInteraction.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iosC2" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>

        <File Name="Cheesebaron.MvxPlugins.SMS.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cheesebaron.MvxPlugins.SMS.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iosC3" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>

        <File Name="ceton.mvx.plugins.settings.Touch.dll"
            Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\ceton.mvx.plugins.settings.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iosC4" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>

        <File Name="Cheesebaron.MvxPlugins.AppId.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cheesebaron.MvxPlugins.AppId.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iosC5" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>

        <File Name="Cheesebaron.MvxPlugins.SimpleWebToken.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cheesebaron.MvxPlugins.SimpleWebToken.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSC6" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>

        <File Name="Ghuntley.MvxPlugins.FaceTime.Touch.dll"
            Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Ghuntley.MvxPlugins.FaceTime.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSC7" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>

        <File Name="Sample.Plugin.Vibration.Touch.dll"
            Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Sample.Plugin.Vibration.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSC8" DestinationDirectory="MvvmCrossAssemblies"/>
        </File>
        
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>