<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Global.wxi?>
  <Fragment>
    <ComponentGroup Id='ComponentGroupWindowsStorePlugins'>

      <Component Id="WindowsStorePluginsComponent" 
                 Directory="MvvmCrossAssembliesWindowsStorePlugins" 
                 DiskId="1" 
                 Guid="825c8b3c-e1ee-4eae-85b2-300000000005">

        <RegistryKey Root="HKCU"
                 Key="$(var.PLUGINS_REGISTRY_KEY)">
          <RegistryValue Type="string" Name="Windows Store Path" Value="[MvvmCrossAssembliesWindowsStorePlugins]"/>
        </RegistryKey>

        <File Id="WindowsStorePlugins1" Name="Cirrious.MvvmCross.Plugins.Accelerometer.WindowsStore.dll"
            Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.Accelerometer.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins1" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <!--<File Id="WindowsStorePlugins2" Name="Cirrious.MvvmCross.Plugins.Bookmarks.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.Bookmarks.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins2" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>-->
        <File Id="WindowsStorePlugins3" Name="Cirrious.MvvmCross.Plugins.Color.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.Color.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins3" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <!--<File Id="WindowsStorePlugins4" Name="Cirrious.MvvmCross.Plugins.DownloadCache.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.DownloadCache.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins4" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>-->
        <File Id="WindowsStorePlugins5" Name="Cirrious.MvvmCross.Plugins.Email.WindowsStore.dll"
            Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.Email.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins5" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <File Id="WindowsStorePlugins6" Name="Cirrious.MvvmCross.Plugins.File.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.File.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins6" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <File Id="WindowsStorePlugins6a" Name="Cirrious.MvvmCross.Plugins.Location.WindowsStore.dll"
            Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.Location.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins6a" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <!--<File Id="WindowsStorePlugins7" Name="Cirrious.MvvmCross.Plugins.Json.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.Json.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins7" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>-->
        <File Id="WindowsStorePlugins8" Name="Cirrious.MvvmCross.Plugins.Network.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.Network.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins8" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <!--<File Id="WindowsStorePlugins9" Name="Cirrious.MvvmCross.Plugins.PhoneCall.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.PhoneCall.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins9" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>-->
        <File Id="WindowsStorePlugins10" Name="Cirrious.MvvmCross.Plugins.PictureChooser.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.PictureChooser.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins10" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <File Id="WindowsStorePlugins11" Name="Cirrious.MvvmCross.Plugins.ReflectionEx.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.ReflectionEx.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins11" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <File Id="WindowsStorePlugins12" Name="Cirrious.MvvmCross.Plugins.ResourceLoader.WindowsStore.dll"
            Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.ResourceLoader.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins12" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <File Id="WindowsStorePlugins13" Name="Cirrious.MvvmCross.Plugins.Share.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.Share.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins13" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <!--<File Id="WindowsStorePlugins14" Name="Cirrious.MvvmCross.Plugins.SoundEffects.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.SoundEffects.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins14" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>-->
        <!--<File Id="WindowsStorePlugins15" Name="Cirrious.MvvmCross.Plugins.Sqlite.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.Sqlite.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins15" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>-->
        <File Id="WindowsStorePlugins16" Name="Cirrious.MvvmCross.Plugins.ThreadUtils.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.ThreadUtils.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins16" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <File Id="WindowsStorePlugins17" Name="Cirrious.MvvmCross.Plugins.Visibility.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.Visibility.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins17" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
        <File Id="WindowsStorePlugins18" Name="Cirrious.MvvmCross.Plugins.WebBrowser.WindowsStore.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSSTORE_LIB)\Cirrious.MvvmCross.Plugins.WebBrowser.WindowsStore.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsStorePlugins18" DestinationDirectory="MvvmCrossAssembliesWindowsStorePlugins"/>
        </File>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>