<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Global.wxi?>
  <Fragment>
    <ComponentGroup Id='ComponentGroupiOSPlugins'>

      <Component Id="iOSPluginsComponent" 
                 Directory="MvvmCrossAssembliesiOSPlugins" 
                 DiskId="1" 
                 Guid="825c8b3c-e1ee-4eae-85b2-300000000003">

        <RegistryKey Root="HKCU"
                 Key="$(var.PLUGINS_REGISTRY_KEY)">
          <RegistryValue Type="string" Name="iOS Path" Value="[MvvmCrossAssembliesiOSPlugins]"/>
        </RegistryKey>

        <File Id="iOSPlugins1" Name="Cirrious.MvvmCross.Plugins.Accelerometer.Touch.dll"
            Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Accelerometer.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins1" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <!--<File Id="iOSPlugins2" Name="Cirrious.MvvmCross.Plugins.Bookmarks.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Bookmarks.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins2" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>-->
        <File Id="iOSPlugins3" Name="Cirrious.MvvmCross.Plugins.Color.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Color.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins3" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins4" Name="Cirrious.MvvmCross.Plugins.DownloadCache.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.DownloadCache.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins4" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins5" Name="Cirrious.MvvmCross.Plugins.Email.Touch.dll"
            Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Email.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins5" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins6" Name="Cirrious.MvvmCross.Plugins.File.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.File.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins6" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins6a" Name="Cirrious.MvvmCross.Plugins.Location.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Location.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins6a" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <!--<File Id="iOSPlugins7" Name="Cirrious.MvvmCross.Plugins.Json.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Json.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins7" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>-->
        <File Id="iOSPlugins8" Name="Cirrious.MvvmCross.Plugins.Network.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Network.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins8" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins9" Name="Cirrious.MvvmCross.Plugins.PhoneCall.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.PhoneCall.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins9" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins10" Name="Cirrious.MvvmCross.Plugins.PictureChooser.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.PictureChooser.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins10" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins11" Name="Cirrious.MvvmCross.Plugins.ReflectionEx.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.ReflectionEx.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins11" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins12" Name="Cirrious.MvvmCross.Plugins.ResourceLoader.Touch.dll"
            Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.ResourceLoader.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins12" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins13" Name="Cirrious.MvvmCross.Plugins.Share.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Share.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins13" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <!--<File Id="iOSPlugins14" Name="Cirrious.MvvmCross.Plugins.SoundEffects.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.SoundEffects.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins14" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>-->
        <File Id="iOSPlugins15" Name="Cirrious.MvvmCross.Plugins.Sqlite.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Sqlite.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins15" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins16" Name="Cirrious.MvvmCross.Plugins.ThreadUtils.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.ThreadUtils.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins16" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins17" Name="Cirrious.MvvmCross.Plugins.Visibility.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.Visibility.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins17" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
        <File Id="iOSPlugins18" Name="Cirrious.MvvmCross.Plugins.WebBrowser.Touch.dll"
          Source="$(var.PROJECT_TEMPLATES_IOS_LIB)\Cirrious.MvvmCross.Plugins.WebBrowser.Touch.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="iOSPlugins18" DestinationDirectory="MvvmCrossAssembliesiOSPlugins"/>
        </File>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>