<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Global.wxi?>
  <Fragment>
    <ComponentGroup Id='ComponentGroupDroidPlugins'>

      <Component Id="DroidPluginsComponent" 
                 Directory="MvvmCrossAssembliesDroidPlugins" 
                 DiskId="1" 
                 Guid="825c8b3c-e1ee-4eae-85b2-300000000002">

        <RegistryKey Root="HKCU"
                 Key="$(var.PLUGINS_REGISTRY_KEY)">
          <RegistryValue Type="string" Name="Droid Path" Value="[MvvmCrossAssembliesDroidPlugins]"/>
        </RegistryKey>

        <File Id="DroidPlugins1" Name="Cirrious.MvvmCross.Plugins.Accelerometer.Droid.dll"
            Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.Accelerometer.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins1" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <!--<File Id="DroidPlugins2" Name="Cirrious.MvvmCross.Plugins.Bookmarks.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.Bookmarks.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins2" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>-->
        <File Id="DroidPlugins3" Name="Cirrious.MvvmCross.Plugins.Color.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.Color.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins3" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins4" Name="Cirrious.MvvmCross.Plugins.DownloadCache.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.DownloadCache.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins4" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins5" Name="Cirrious.MvvmCross.Plugins.Email.Droid.dll"
            Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.Email.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins5" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins6" Name="Cirrious.MvvmCross.Plugins.File.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.File.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins6" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <!--<File Id="DroidPlugins7" Name="Cirrious.MvvmCross.Plugins.Json.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.Json.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins7" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>-->
        <File Id="DroidPlugins6a" Name="Cirrious.MvvmCross.Plugins.Location.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.Location.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins6a" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins8" Name="Cirrious.MvvmCross.Plugins.Network.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.Network.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins8" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins9" Name="Cirrious.MvvmCross.Plugins.PhoneCall.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.PhoneCall.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins9" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins10" Name="Cirrious.MvvmCross.Plugins.PictureChooser.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.PictureChooser.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins10" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins11" Name="Cirrious.MvvmCross.Plugins.ReflectionEx.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.ReflectionEx.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins11" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins12" Name="Cirrious.MvvmCross.Plugins.ResourceLoader.Droid.dll"
            Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.ResourceLoader.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins12" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins13" Name="Cirrious.MvvmCross.Plugins.Share.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.Share.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins13" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <!--<File Id="DroidPlugins14" Name="Cirrious.MvvmCross.Plugins.SoundEffects.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.SoundEffects.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins14" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>-->
        <File Id="DroidPlugins15" Name="Cirrious.MvvmCross.Plugins.Sqlite.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.Sqlite.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins15" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins16" Name="Cirrious.MvvmCross.Plugins.ThreadUtils.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.ThreadUtils.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins16" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins17" Name="Cirrious.MvvmCross.Plugins.Visibility.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.Visibility.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins17" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
        <File Id="DroidPlugins18" Name="Cirrious.MvvmCross.Plugins.WebBrowser.Droid.dll"
          Source="$(var.PROJECT_TEMPLATES_DROID_LIB)\Cirrious.MvvmCross.Plugins.WebBrowser.Droid.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="DroidPlugins18" DestinationDirectory="MvvmCrossAssembliesDroidPlugins"/>
        </File>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>