<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Global.wxi?>
  <Fragment>
    <ComponentGroup Id='ComponentGroupConvertersItemTemplates'>

      <Component Id="ComponentConvertersItemTemplates" 
                 Directory="ItemTemplatesMvvmCrossConverters" 
                 DiskId="1" 
                 Guid="825c8b3c-e1ee-4eae-81b3-30000000000C">

        <File Id="MvvmCross.FloatConverter"
            Name="MvvmCross.FloatConverter.zip"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\Converters\MvvmCross.FloatConverter\bin\Debug\ItemTemplates\CSharp\1033\MvvmCross.FloatConverter.zip">
          <CopyFile Id="copyConverter1" DestinationDirectory="ItemTemplatesMvvmCrossConverters"/>
        </File>

        <File Id="MvvmCross.IntConverter"
            Name="MvvmCross.IntConverter.zip"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\Converters\MvvmCross.IntConverter\bin\Debug\ItemTemplates\CSharp\1033\MvvmCross.IntConverter.zip">
          <CopyFile Id="copyConverter2" DestinationDirectory="ItemTemplatesMvvmCrossConverters"/>
        </File>

        <File Id="MvvmCross.IntToFloatConverter"
            Name="MvvmCross.IntToFloatConverter.zip"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\Converters\MvvmCross.IntToFloatConverter\bin\Debug\ItemTemplates\CSharp\1033\MvvmCross.IntToFloatConverter.zip">
          <CopyFile Id="copyConverter3" DestinationDirectory="ItemTemplatesMvvmCrossConverters"/>
        </File>

        <File Id="MvvmCross.StringLengthValueConverter"
            Name="MvvmCross.StringLengthValueConverter.zip"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\Converters\MvvmCross.StringLengthValueConverter\bin\Debug\ItemTemplates\CSharp\1033\MvvmCross.StringLengthValueConverter.zip">
          <CopyFile Id="copyConverter4" DestinationDirectory="ItemTemplatesMvvmCrossConverters"/>
        </File>

        <File Id="MvvmCross.StringReverseValueConverter"
            Name="MvvmCross.StringReverseValueConverter.zip"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\Converters\MvvmCross.StringReverseValueConverter\bin\Debug\ItemTemplates\CSharp\1033\MvvmCross.StringReverseValueConverter.zip">
          <CopyFile Id="copyConverter5" DestinationDirectory="ItemTemplatesMvvmCrossConverters"/>
        </File>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
