<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Global.wxi?>
  <Fragment>
    <ComponentGroup Id='ComponentGroupPluginItemTemplates'>

      <Component Id="ComponentPluginItemTemplates" 
                 Directory="ItemTemplatesMvvmCrossPlugins" 
                 DiskId="1" 
                 Guid="825c8b3c-e1ee-4eae-81b2-30000000000C">

        <File Name="MvvmCross.Plugin.zip"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\Plugins\MvvmCross.Plugin\bin\Debug\ItemTemplates\CSharp\1033\MvvmCross.Plugin.zip">
          <CopyFile Id="copyPlugin1" DestinationDirectory="ItemTemplatesMvvmCrossPlugins"/>
        </File>

      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
