<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Global.wxi?>
  <Fragment>
    <ComponentGroup Id='ComponentGroupServicesItemTemplates'>

      <Component Id="ComponentServicesItemTemplates" 
                 Directory="ItemTemplatesMvvmCrossServices" 
                 DiskId="1" 
                 Guid="825c8b3c-e1ee-4eae-91b3-30000000000C">

        <File Name="MvvmCross.LocationService.zip"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\Services\MvvmCross.LocationService\bin\Debug\ItemTemplates\CSharp\1033\MvvmCross.LocationService.zip">
          <CopyFile Id="copyService1" DestinationDirectory="ItemTemplatesMvvmCrossServices"/>
        </File>

        <!--
        <File Name="MvvmCross.SqliteDataService.zip"
          Source="$(var.ITEM_TEMPLATES_DIR)\Core\Services\MvvmCross.SqliteDataService\bin\Debug\ItemTemplates\CSharp\1033\MvvmCross.SqliteDataService.zip">
          <CopyFile Id="copyService2" DestinationDirectory="ItemTemplatesMvvmCrossServices"/>
        </File>

        <File Name="MvvmCross.WebRequestService.zip"
          Source="$(var.ITEM_TEMPLATES_DIR)\Core\Services\MvvmCross.WebRequestService\bin\Debug\ItemTemplates\CSharp\1033\MvvmCross.WebRequestService.zip">
          <CopyFile Id="copyService3" DestinationDirectory="ItemTemplatesMvvmCrossServices"/>
        </File>

        <File Name="MvvmCross.DropBoxService.zip"
          Source="$(var.ITEM_TEMPLATES_DIR)\Core\Services\MvvmCross.DropBoxService\bin\Debug\ItemTemplates\CSharp\1033\MvvmCross.DropBoxService.zip">
          <CopyFile Id="copyService4" DestinationDirectory="ItemTemplatesMvvmCrossServices"/>
        </File>-->
        
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
