<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Global.wxi?>
  <Fragment>
    <ComponentGroup Id='ComponentGroupCodeSnippetsPlugins'>

      <Component Id="CodeSnippetsPluginsComponent" Directory="CodeSnippetsPlugins" DiskId="1" Guid="825c8b3c-e1ee-4eae-85b2-30000000000A">

        <RegistryKey Root="HKCU"
                 Key="$(var.REGISTRY_KEY)">
          <RegistryValue Type="string" Name="Code Snippets Path" Value="[CodeSnippets]"/>
        </RegistryKey>

          <File Id="Snippet1" Name="Plugins.Accelerometer.txt"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.Accelerometer.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet1" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet2" Name="Plugins.Bookmarks.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.Bookmarks.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet2" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet3" Name="Plugins.Color.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.Color.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet3" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet4" Name="Plugins.DownloadCache.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.DownloadCache.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet4" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet5" Name="Plugins.Email.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.Email.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet5" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet6" Name="Plugins.File.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.File.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet6" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet7" Name="Plugins.Json.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.Json.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet7" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet8" Name="Plugins.Network.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.Network.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet8" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet9" Name="Plugins.PhoneCall.txt"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.PhoneCall.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet9" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet10" Name="Plugins.PictureChooser.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.PictureChooser.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet10" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet11" Name="Plugins.ReflectionEx.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.ReflectionEx.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet11" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet12" Name="Plugins.ResourceLoader.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.ResourceLoader.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet12" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet13" Name="Plugins.Share.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.Share.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet13" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet14" Name="Plugins.SoundEffects.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.SoundEffects.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet14" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet15" Name="Plugins.Sqlite.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.Sqlite.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet15" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet16" Name="Plugins.ThreadUtils.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.ThreadUtils.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet16" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet17" Name="Plugins.Visibility.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.Visibility.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet17" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>

          <File Id="Snippet18" Name="Plugins.WebBrowser.txt"
              Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Plugins\Plugins.WebBrowser.txt" Vital="yes" KeyPath="no" >
            <CopyFile Id="Snippet18" DestinationDirectory="CodeSnippetsPlugins"/>
          </File>
     
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>