<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Global.wxi?>
  <Fragment>
    <ComponentGroup Id='ComponentGroupCodeSnippetsServices'>

      <Component Id="CodeSnippetsServicesComponent" Directory="CodeSnippetsServices" DiskId="1" Guid="825c8b3c-e1ee-4eae-85b2-30000000000B">
        
        <File Id="Snippet19" Name="Services.LocationService.Config.xml"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Services\Services.LocationService.Config.xml" Vital="yes" KeyPath="no" >
          <CopyFile Id="Snippet19" DestinationDirectory="CodeSnippetsServices"/>
        </File>        
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>