<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Global.wxi?>
  <Fragment>
    <ComponentGroup Id='ComponentGroupWindowsPhnonePlugins'>

      <Component Id="WindowsPhonePluginsComponent" 
                 Directory="MvvmCrossAssembliesWindowsPhonePlugins" 
                 DiskId="1" 
                 Guid="825c8b3c-e1ee-4eae-85b2-300000000004">

        <RegistryKey Root="HKCU"
                 Key="$(var.PLUGINS_REGISTRY_KEY)" ForceCreateOnInstall="yes">
          <RegistryValue Type="string" Name="Windows Phone Path" Value="[MvvmCrossAssembliesWindowsPhonePlugins]"/>
        </RegistryKey>

        <File Id="WindowsPhonePlugins1" Name="Cirrious.MvvmCross.Plugins.Accelerometer.WindowsPhone.dll"
            Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.Accelerometer.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins1" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <!--<File Id="WindowsPhonePlugins2" Name="Cirrious.MvvmCross.Plugins.Bookmarks.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.Bookmarks.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins2" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>-->
        <File Id="WindowsPhonePlugins3" Name="Cirrious.MvvmCross.Plugins.Color.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.Color.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins3" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <!--<File Id="WindowsPhonePlugins4" Name="Cirrious.MvvmCross.Plugins.DownloadCache.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.DownloadCache.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins4" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>-->
        <File Id="WindowsPhonePlugins5" Name="Cirrious.MvvmCross.Plugins.Email.WindowsPhone.dll"
            Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.Email.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins5" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <File Id="WindowsPhonePlugins6" Name="Cirrious.MvvmCross.Plugins.File.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.File.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins6" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <File Id="WindowsPhonePlugins6a" Name="Cirrious.MvvmCross.Plugins.Location.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.Location.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins6a" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <!--<File Id="WindowsPhonePlugins7" Name="Cirrious.MvvmCross.Plugins.Json.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.Json.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins7" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>-->
        <File Id="WindowsPhonePlugins8" Name="Cirrious.MvvmCross.Plugins.Network.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.Network.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins8" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <File Id="WindowsPhonePlugins9" Name="Cirrious.MvvmCross.Plugins.PhoneCall.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.PhoneCall.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins9" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <File Id="WindowsPhonePlugins10" Name="Cirrious.MvvmCross.Plugins.PictureChooser.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.PictureChooser.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins10" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <File Id="WindowsPhonePlugins11" Name="Cirrious.MvvmCross.Plugins.ReflectionEx.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.ReflectionEx.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins11" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <File Id="WindowsPhonePlugins12" Name="Cirrious.MvvmCross.Plugins.ResourceLoader.WindowsPhone.dll"
            Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.ResourceLoader.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins12" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <File Id="WindowsPhonePlugins13" Name="Cirrious.MvvmCross.Plugins.Share.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.Share.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins13" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <!--<File Id="WindowsPhonePlugins14" Name="Cirrious.MvvmCross.Plugins.SoundEffects.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.SoundEffects.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins14" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>-->
        <File Id="WindowsPhonePlugins15" Name="Cirrious.MvvmCross.Plugins.Sqlite.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.Sqlite.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins15" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <File Id="WindowsPhonePlugins16" Name="Cirrious.MvvmCross.Plugins.ThreadUtils.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.ThreadUtils.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins16" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <File Id="WindowsPhonePlugins17" Name="Cirrious.MvvmCross.Plugins.Visibility.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.Visibility.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins17" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
        <File Id="WindowsPhonePlugins18" Name="Cirrious.MvvmCross.Plugins.WebBrowser.WindowsPhone.dll"
          Source="$(var.PROJECT_TEMPLATES_WINDOWSPHONE_LIB)\Cirrious.MvvmCross.Plugins.WebBrowser.WindowsPhone.dll" Vital="yes" KeyPath="no" >
          <CopyFile Id="WindowsPhonePlugins18" DestinationDirectory="MvvmCrossAssembliesWindowsPhonePlugins"/>
        </File>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>