<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Global.wxi?>
  <Fragment>
    <ComponentGroup Id='ComponentGroupCodeSnippetsServices'>

      <Component Id="CodeSnippetsServicesComponent" 
                 Directory="CodeSnippetsServices" 
                 DiskId="1" 
                 Guid="825c8b3c-e1ee-4eae-85b2-30000000000B">
        
        <File Id="SnippetService1" Name="Services.LocationService.xml"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Services\Services.LocationService.xml" Vital="yes" KeyPath="no" >
          <CopyFile Id="SnippetService1" DestinationDirectory="CodeSnippetsServices"/>
        </File>

        <File Id="SnippetService1T" Name="Services.LocationService.Tests.xml"
            Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Services\Services.LocationService.Tests.xml" Vital="yes" KeyPath="no" >
          <CopyFile Id="SnippetService1T" DestinationDirectory="CodeSnippetsServices"/>
        </File>

        <File Id="SnippetService2" Name="Services.SqliteDataService.xml"
          Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Services\Services.SqliteDataService.xml" Vital="yes" KeyPath="no" >
          <CopyFile Id="SnippetService2" DestinationDirectory="CodeSnippetsServices"/>
        </File>
        
        <File Id="SnippetService2T" Name="Services.SqliteDataService.Tests.xml"
          Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Services\Services.SqliteDataService.Tests.xml" Vital="yes" KeyPath="no" >
          <CopyFile Id="SnippetService2T" DestinationDirectory="CodeSnippetsServices"/>
        </File>

        <File Id="SnippetService3" Name="Services.WebRequestService.xml"
          Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Services\Services.WebRequestService.xml" Vital="yes" KeyPath="no" >
          <CopyFile Id="SnippetService3" DestinationDirectory="CodeSnippetsServices"/>
        </File>

        <File Id="SnippetService3T" Name="Services.WebRequestService.Tests.xml"
          Source="$(var.ITEM_TEMPLATES_DIR)\Core\CodeSnippets\Services\Services.WebRequestService.Tests.xml" Vital="yes" KeyPath="no" >
          <CopyFile Id="SnippetService3T" DestinationDirectory="CodeSnippetsServices"/>
        </File>
        
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>